[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/imgui-cmake/imgui"]
	path = thirdparty/imgui-cmake/imgui
	url = https://github.com/ocornut/imgui.git
